@import './variables.scss';

.card-border {
    border: 1px solid $light-gray-border;
    border-radius: 4px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    font-family: $main_font;
    padding: 2.4rem 3.2rem;

    .card-header {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
        img {
            margin-right: 1.25rem;
        }
    }
}