@import './variables.scss';

.main-container {
    .main-header {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        margin: 2.4rem 0;

        .icon {
            height: 3.5rem;
            width: 3.5rem;
            background: url("../assets/media/person.svg") no-repeat center;
        }

        h3 {
            font-size: 2rem;
            font-weight: 600;
        }

    }
    
}