$main_font: "Inter";

// Colors

$dark_purple: #5C00DC;
$light_purple: rgba(92, 0, 220, 0.08);
$searchbar_bg_color: #f5f5f5;
$bullet_point_gray: #777777;
$black_text: #000;
$light_gray_text: #222;
$gray_icon_bg: #444444;
$light-gray-border: #ccc;
$white: #fff;

// Responsive breakpoints

$mobile: 320px;
$tablet: 900px;
$desktop: 1200px;